table{
	border-right: 5px solid red;
	border-left: 5px solid blue;
	border-top: 5px solid white;
	border-bottom: 5px solid green;
}

th{
	border: 3px solid white;
}
td{
	border: 2px solid darkgoldenrod;
	border-style: dashed;
}

#lolz{
	margin: auto;
	width: 900px;
	background-color:lightblue;
	height: 1500px;
}

#kin:hover{
	background: pink;
}

#full{
	background: goldenrod;
	margin: 0 auto;
}

#head{
	text-align: center;
}